---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="Über mich"
	description="Software-Entwickler, DJ, Smash-Spieler"
	pubDate={new Date("August 08 2021")}
>
	<!-- TODO: hero image -->
	<em>Hinweis: Diese "Über mich" Seite ist noch unvollständig.</em>
	<h2>Wie ich heiße</h2>
	<p>
		Ich heiße Function. Bitte <em>nicht</em> "DJ Function", denn ich bin zwar DJ,
		aber das ist nicht Teil meines Namens. In der Smash-Szene heiße ich "waffeln".<br
		/>
		Falls es dir wichtig ist: Ich bin männlich, aber lege keinen großen Wert darauf,
		meine Pronomen anzugeben. Ich gebe mir aber immer Mühe, die Pronomen und Identitäten
		meiner Mitmenschen zu respektieren.
	</p>

	<h2>Wer ich bin</h2>

	<p>
		Ich bin Tech-Enthusiast und liebe fast alles an Technologie. Ich liebe
		Software, Hardware, Analog, Digital... Technologie aufschrauben,
		analysieren, verstehen, aufbauen, reparieren, erklären, benutzen, ausnutzen,
		wertschätzen, kritisieren, hinterfragen, bestaunen, verbessern, anschalten,
		ausschalten, updaten, upgraden, drehen, stoppen, uploaden, downloaden,
		decompilen, compilen, veröffentlichen, besitzen, teilen...<br />
		Hinter all dem stecken konkrete Hobbies, Projekte, Erfahrungen und Wertvorstellungen
		von mir - es ist nicht einfach nur eine beliebige Sammlung von schwammigen Verben.<br
		/>
		Auf dieser Seite und in meinem Blog erzähle ich von einigen meiner Beziehungen
		mit Technologie und ich freue mich sehr, wenn du mitliest und meine Begeisterung
		teilst :)
	</p>
	<h2>Software-Entwicklung, privat</h2>
	<p>
		Mein größtes Hobbie ist Software-Entwicklung, aber ich programmiere nie
		"einfach so". Alle meine Projekte beziehen sich auf meine anderen Hobbies
		und Interessen, wie z.B. das DJing, die Smash-Szene, oder Self-Hosting.<br
		/>
		Da ich bei jedem anderen Hobbie immer wieder den Bezug zu Software finde, ist
		dieses Hobby mein Langjährigstes und ich bin glücklich, dass ich es auch zu meinem
		Beruf gemacht habe.
	</p>
	<h2>Mein Beruf</h2>
	<p>
		Mein Beruf ist Software-Entwickler. Ich habe genau so Leidenschaft dafür bei
		der Arbeit wie auch im Privaten. Beide Seiten ergänzen sich und ich lerne
		auf Beiden viel, was ich auf der Anderen anwenden kann. Mein Arbeitgeber
		profitiert genau so von meiner freizeitlichen Beschäftigung mit Tutorials,
		Experimenten, oder dem Lesen von Blogs, wie meine privaten Projekte von der
		Erfahrung profitieren, die ich beruflich sammle.
	</p>
	<p>
		Ich habe 2019 meine Ausbildung zum "Fachinformatiker für
		Anwendungsentwicklung" begonnen und 2022 erfolgreich beendet mit Übernahme
		des gleichen Unternehmens, bei dem ich seitdem vollzeit arbeite.
	</p>
</Layout>
